Repository shatokh/API-test: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

# lefthook.yml

pre-commit:
  # Запускаем команды параллельно для скорости
  parallel: true

  # Здесь описываем задачи: сначала ESLint, затем Prettier
  commands:
    eslint:
      # Авто-фикс ошибок ESLint только по изменённым файлам
      run: npx eslint --fix {staged_files}
      # Обрабатываем только JS/TS
      glob:
        - "**/*.{js,ts}"
      # После фикса автоматически добавляем изменённые файлы в коммит
      stage_fixed: true

    prettier:
      # Форматируем только изменённые файлы
      run: npx prettier --write {staged_files}
      # Ограничиваемся JS, TS, JSON и MD
      glob:
        - "**/*.{js,ts,json,md}"
      stage_fixed: true

chore: fix compose and ci configs
  .github/workflows/api-tests.yml
  .github/workflows/load-test.yml
  .github/workflows/unit-tests.yml
  docker-compose.yml
  load-test.yml
Due: none

fix: run tests with proper env
  .github/workflows/api-tests.yml
  .github/workflows/unit-tests.yml
  package.json
Due: none

Fix for doker failed runs
  .github/workflows/api-tests.yml
  .github/workflows/unit-tests.yml
  Dockerfile
  docker-compose.yml
Due: none

Fix for doсker failed runs v2
  Dockerfile
Due: none

Fix for doсker failed runs v3
  Dockerfile
Due: none

Reimplementation for Docker v1
  .dockerignore
  Dockerfile
  docker-compose.metrics.yml
  docker-compose.override.yml
  docker-compose.yml
  docs/Docker.md
  docs/docs(outofdate).md
Due: prettier

Reimplementation for Docker v2 + mermaid diagrams
  Dockerfile
  docker-compose.override.yml
  docker-compose.yml
  docs/Artillery → Prometheus → Grafana.md
  docs/Docker scheme.md
  docs/docs(outofdate).md
Due: prettier

Added k6
  Dockerfile
  docker-compose.override.yml
  eslint.config.js
  tests/k6/.eslintrc.json
  tests/k6/register-lite.js
  tests/k6/register.js
  tests/k6/summary.html
  tests/setup.js
Due: eslint, prettier

Exclude k6 scripts from vitest
  vitest.config.js
Due: none

Fix Docker builder stage name
  Dockerfile
Due: none

Use logger wrapper to satisfy linting
  scripts/initAdmin.js
  server.js
  utils/logger.js
Due: eslint, prettier

Refactor auth validation middleware
  middleware/validateRequest.js
  routes/auth.js
Due: eslint, prettier

Skip Playwright browser downloads in CI installs
  .github/workflows/lint.yml
  .github/workflows/load-test.yml
Due: none

Pin GitHub actions to full SHAs
  .github/workflows/api-tests.yml
  .github/workflows/load-test.yml
Due: none

Refactor auth API tests
  tests/api/adminStatusPositive.test.js
  tests/api/loginNegative.test.js
  tests/api/registerLoginMe.test.js
  tests/api/registerNegative.test.js
  tests/api/statusNegative.test.js
  tests/helpers/authTestUtils.js
Due: eslint, prettier

Avoid hardcoded passwords in tests
  tests/api/adminStatusPositive.test.js
  tests/api/loginNegative.test.js
  tests/api/registerLoginMe.test.js
  tests/api/registerNegative.test.js
  tests/api/statusNegative.test.js
  tests/helpers/authTestUtils.js
Due: eslint, prettier

Refactor server setup and document improvements
  docs/refactor-notes.md
  server.js
  utils/appConfig.js
Due: eslint, prettier

Add structured logging and lifecycle handling
  middleware/requestId.js
  middleware/requestLogger.js
  package-lock.json
  package.json
  server.js
  swagger.js
  utils/appConfig.js
  utils/env.js
  utils/logger.js
  utils/mongoLifecycle.js
  utils/swaggerUiOptions.js
Due: eslint, prettier

Fix prettier formatting
  docs/refactor-notes.md
  eslint.config.js
  routes/auth.js
Due: eslint, prettier

Fix mongodb-memory-server binary selection
  tests/setup.js
Due: eslint, prettier

Set NODE_ENV in test setup
  tests/setup.js
Due: eslint, prettier

Improve Dockerfile stages and runtime healthcheck
  Dockerfile
Due: none

Fix tests with in-memory user model
  models/User.js
  tests/setup.js
  vitest.config.js
Due: eslint, prettier

Fix artillery load test workflow
  .github/workflows/load-test.yml
  load-test-ci.yml
Due: none
